{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container pricing-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 mb-5 mb-lg-0 px-3 pr-3 px-lg-0">
        {{ with .Params.business }}
        <div class="card shadow">
          <div class="card-body text-center py-5">
            <h3 class="mb-4">BJJ</h3>
            <img src="../../images/roope.webp" alt="" class="img-fluid mt-5" width="750px">
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0 px-3 pr-3 px-lg-0">
        {{ with .Params.business }}
        <div class="card shadow">
          <div class="card-body text-center py-5">
            <h3 class="mb-4">Judo</h3>
            <img src="../../images/roope.webp" alt="" class="img-fluid mt-5" width="750px">
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0 px-3 pr-3 px-lg-0">
        {{ with .Params.business }}
        <div class="card shadow">
          <div class="card-body text-center py-5">
            <h3 class="mb-4">Karate</h3>
            <img src="../../images/roope.webp" alt="" class="img-fluid mt-5" width="750px">
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}