{{ if eq .Site.Language.LanguageName "English" }}
  {{ if .Site.Params.startDates.karateCourseStartDate }}
  **Karate basic course** will begin in the **{{ .Site.Params.startDates.karateCourseStartDate }}.**
  {{ else }}
  The start date of the next **karate basic course** has not been announced yet.  
  {{ end }}

  {{ if .Site.Params.startDates.judoCourseStartDate }}
  The next **judo basic course** will begin in the **{{ .Site.Params.startDates.judoCourseStartDate }}**. 
  {{ else }}
  **Judo basic course** start date has not been announced yet. 
  {{ end }}

  {{ if .Site.Params.startDates.bjjCourseStartDate }}
  The next **BJJ basic course** will begin in the **{{ .Site.Params.startDates.bjjCourseStartDate }}**. 
  {{ else }}
  **BJJ basic course** start date has not been announced yet. 
  {{ end }}
{{ else }}
  {{ if .Site.Params.startDates.karateCourseStartDate }}
  Seuraava **Karaten peruskurssi** alkaa **{{ .Site.Params.startDates.karateCourseStartDate }}**. 
  {{ else }}
  Seuraavan **Karaten peruskurssin** aloituspäivää ei ole vielä ilmoitettu.
  {{ end }}
  {{ if .Site.Params.startDates.judoCourseStartDate }}
  Seuraava **judon peruskurssi** alkaa **{{ .Site.Params.startDates.judoCourseStartDate }}**. 
  {{ else }}
  Seuraavan **Judon peruskurssin** aloituspäivää ei ole vielä ilmoitettu.  {{ end }}
  {{ if .Site.Params.startDates.bjjCourseStartDate }}
  Seuraava **BJJ peruskurssi** alkaa **{{ .Site.Params.startDates.bjjCourseStartDate }}**. 
  {{ else }}
  Seuraavan **BJJ peruskurssin** aloituspäivää ei ole vielä ilmoitettu.
  {{ end }}
{{ end }}