// This file is empty within the template
// You can use it to override CSS from within your project

.is-active {
  /* Change the text color and add an underline */
  animation-duration: 1s;
  animation-name: animate-text-color;
  animation-fill-mode: backwards;
  border-radius: 30px;
}

.nav-link-is-active{
    animation-duration: 1s;
    animation-name: animate-text-color;
    animation-fill-mode: forwards;
}

@keyframes animate-text-color {
    0% { color: initial; }
    100% { color: $primary-color }
}

ul li {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.is-active::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 100px;
  background-color: $primary-color;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
  border-radius: 3px;
  animation: appear 0.2s linear;
}
@keyframes appear {
  from {
    transform: translateX(-50%) scaleX(0);
  }
  to {
    transform: translateX(-50%) scaleX(1);
  }
}
