// This file is empty within the template
// You can use it to override CSS from within your project

.is-active {
  /* Change the text color and add an underline */
  animation-duration: 1s;
  animation-name: animate-text-color;
  animation-fill-mode: backwards;
  border-radius: 30px;
}

.nav-link-is-active{
    animation-duration: 1s;
    animation-name: animate-text-color;
    animation-fill-mode: forwards;
}

@keyframes animate-text-color {
    0% { color: initial; }
    100% { color: $primary-color }
}